	

.confm_BFix{ width: 100%; padding: 0 4%;box-sizing: border-box; line-height: 100rpx; box-shadow: 0 -3rpx 4rpx rgba(102,102,102,0.1); display: flex; justify-content: flex-end; font-size: 28rpx; align-items: center; position: fixed; bottom: 0; left: 0;background: #fff;}
.confm_BFix .price{ font-size: 28rpx; color: #FF3B3B;}
.confm_BFix .price::before{content: "￥"; font-weight: normal;}
.confm_BFix .btn{ width: 180rpx; height: 70rpx; text-align: center; line-height: 70rpx; color: #fff; background: #DA251C; border-radius: 50rpx; margin-left: 20rpx;font-size: 30rpx;}
	
	
	
	
	
	
	